@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .    
*/
body {
    background-color: rgb(168, 206, 168);
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}
h1 {
    color: rgba(28, 119, 28, 0.747);
}
h2 {
    color: rgba(17, 105, 17, 0.747);
}
.basico {
    color: rgb(60, 124, 60);
}

.intermediario {
    color: rgb(170, 170, 102);
}

.avançado {
    color: rgb(156, 96, 96);
}

.destaque {
    background-color: rgba(168, 168, 48, 0.596);
}